
<ion-header>

  <!-- <ion-navbar hideBackButton>
  
    <ion-buttons *ngIf="langDirection == 'rtl'"  right (click)="dismiss()">
      <button ion-button  (click)="dismiss()">
          <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
      </button>
  </ion-buttons>

  <ion-buttons *ngIf="langDirection != 'rtl'"  left (click)="dismiss()">
    <button ion-button  (click)="dismiss()">
        <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
    </button>
</ion-buttons>
  
<ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{title}}</ion-title>
<ion-title *ngIf="langDirection != 'rtl'">{{title}}</ion-title>


  </ion-navbar> -->
  <ion-navbar hideBackButton>
  <ion-row>
    <ion-col col-7>
        <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{title}}</ion-title>
        <ion-title *ngIf="langDirection != 'rtl'">{{title}}</ion-title>
    </ion-col>
    <ion-col col-3 >
        <!-- <img src="assets/imgs/dlogo.png" style="width:50px;height:30px" left> -->
        
            <!-- <img src="assets/imgs/dlogo.png" style="width:40px;height:30px" left> -->
            <ion-buttons  left>
                  <button ion-button>
                      <img src="assets/imgs/dlogo.png" style="width:40px;" >
                     
                  </button>
              </ion-buttons>
              
          
    </ion-col>
  

  <ion-col col-2>
    <ion-buttons *ngIf="langDirection == 'rtl'"  left>
      <button ion-button  (click)="dismiss()">
          <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
         
      </button>
  </ion-buttons>

  <ion-buttons *ngIf="langDirection != 'rtl'"  left>
    <button ion-button  (click)="dismiss()">
        <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
    </button>
</ion-buttons>
  </ion-col>
</ion-row>
</ion-navbar>
</ion-header>


<ion-content padding>
  <div id="map-wrapper">

    <div #map id="map"></div>
    <div id="button-wrapper">
  
    <ion-item style="text-align:center;" no-lines >
        <!-- style="font-family: 'Cairo Black'" -->
      <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 15px;" (click)="SearchByNearestService($event)"> {{btn1}}</button>  
    </ion-item>
  
    <ion-item  style="text-align:center;" no-lines>
      <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 15px;" (click)="SearchBySpecificService($event)"> {{btn2}}</button>  
    </ion-item>
    </div>
    </div>
    
</ion-content>
