<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>381921023811-5rh69lcp5b23shi8p7e41a4tj9afimsu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381921023811-5rh69lcp5b23shi8p7e41a4tj9afimsu</string>
	<key>API_KEY</key>
	<string>AIzaSyCmlEAMeeU_FWrdLx6TGKR-NkVyDNBzyWE</string>
	<key>GCM_SENDER_ID</key>
	<string>381921023811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.ITRoots.Patient</string>
	<key>PROJECT_ID</key>
	<string>aldoctor-b33ed</string>
	<key>STORAGE_BUCKET</key>
	<string>aldoctor-b33ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381921023811:ios:2fcfa9a6fa108784</string>
	<key>DATABASE_URL</key>
	<string>https://aldoctor-b33ed.firebaseio.com</string>
</dict>
</plist>