<ion-header>

  <!-- <ion-navbar hideBackButton> -->
      <!-- <ion-buttons *ngIf="langDirection == 'rtl'"  right>
          <button ion-button  (click)="dismiss()">
              <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
             
          </button>
      </ion-buttons>

      <ion-buttons *ngIf="langDirection != 'rtl'"  left>
        <button ion-button  (click)="dismiss()">
            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
        </button>
    </ion-buttons> -->

    <!-- <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"followOrder" | translate}} </ion-title>
    <ion-title *ngIf="langDirection != 'rtl'">{{"followOrder" | translate}} </ion-title> -->
  <!-- </ion-navbar> -->

  <ion-navbar>
    <ion-row>
      <!-- <ion-col col-1 style="text-align:right">
          <button ion-button menuToggle>
              <ion-icon name="more"></ion-icon>
            </button>
      </ion-col> -->
      <ion-col col-9>
          <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;padding-right:5px;">{{"followOrder" | translate}}</ion-title>
          <ion-title *ngIf="langDirection != 'rtl'" style="padding:5px;">{{"followOrder" | translate}}</ion-title>
      </ion-col>
      <ion-col col-3 style="text-align:center">
          <!-- <img src="assets/imgs/dlogo.png" style="width:40px;height:30px"> -->
          <ion-buttons  left>
                <button ion-button>
                    <img src="assets/imgs/dlogo.png" style="width:40px;" >
                   
                </button>
            </ion-buttons>
            
        </ion-col>
    </ion-row>
    
  </ion-navbar>
  

</ion-header>


<ion-content padding>
  <div #map id="map"></div>

  <h5  *ngIf="langDirection == 'rtl'" style="text-align: right;color:grey;">{{"accepted"|translate}} {{doctorName}} </h5>
  <h5 style="color:grey;" *ngIf="langDirection != 'rtl'" >{{"accepted"|translate}} {{doctorName}} </h5>

  <ion-row *ngIf="langDirection == 'rtl'" style="margin:0px;">
    <ion-col style="text-align:right" col-6 col-sm-4 col-md-3>
        <img src="assets/icon/doctor.png" style="width:15px;height:15px;">
        <h6 style="color:rgb(192, 189, 189);display: inline;">{{doctorSpecialization}}</h6>

    </ion-col>
    <ion-col style="text-align:right" col-6 col-sm-8 col-md-9>
        <rating 
        [(ngModel)]="doctorRate" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline"
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" 
        ></rating>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="langDirection != 'rtl'">
      <ion-col style="padding-left: 15px;" col-4 col-sm-3 col-md-2>
        <img src="assets/icon/doctor.png" style="width:15px;height:15px;">
          <h6 style="color:rgb(192, 189, 189);display: inline;">{{doctorSpecialization}}</h6>
  
      </ion-col>
      <ion-col col-8 col-sm-9 col-md-10>
          <rating 
          [(ngModel)]="doctorRate" 
          readOnly="true" 
          max="5" 
          emptyStarIconName="star-outline"
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false" 
          ></rating>
      </ion-col>
    </ion-row>
    <!-- <a href="https://api.whatsapp.com/send?phone=01009032582">whats</a>
    <a href="https://api.whatsapp.com/send?phone=201009032582">whats 2</a>
    <a href="https://api.whatsapp.com/send?phone=+201009032582">whats +2</a>
   -->
    <ion-fab left bottom>
            <button ion-fab style="background-color:#026938;font-size:10px;">
                <!-- <ion-icon name="arrow-dropleft"></ion-icon> -->
            اتصل بالطبيب
            </button>
            <ion-fab-list side="right">
              <!-- <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
              <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button> -->
              <!-- <button ion-fab>
                  
                    <ion-icon name="logo-whatsapp" style="color:#026938;" >
                            <a href="https://api.whatsapp.com/send?phone=01009032582" ></a>
                    </ion-icon>
                
              </button>
              
              <button ion-fab>
                    <a href="tel:{{phone}}">
                      <ion-icon name="call" style="color:#026938;">  </ion-icon>
                  </a>
                </button> -->
            
                <a button ion-fab  href="https://api.whatsapp.com/send?phone={{phone}}" >
                    <ion-icon   style="color:#026938;" name="logo-whatsapp"></ion-icon></a>
           
                    <a button ion-fab  href="tel:{{phone}}" >
                        <ion-icon   style="color:#026938;" name="call"></ion-icon></a>
                </ion-fab-list>
          </ion-fab>
          
          
 
  <h5 *ngIf="langDirection == 'rtl'" style="color:grey;margin-top:0px;margin-bottom:0px;text-align: right;">{{"cost"|translate}} : {{OrderCost}} {{"pound"|translate}}</h5>
  <h5 *ngIf="langDirection != 'rtl'" style="color:grey;margin-top:0px;margin-bottom:0px;">{{"cost"|translate}} : {{OrderCost}} {{"pound"|translate}}</h5>

  <h5 *ngIf="langDirection == 'rtl'" style="color:grey;text-align: right;">{{"arrivaltime" | translate}} {{duration}} </h5>
  <h5 *ngIf="langDirection != 'rtl'" style="color:grey;">{{"arrivaltime" | translate}} {{duration}} </h5>
  

  <ion-item style="text-align:center;" no-lines>
  <button type="button" [disabled]="disableCancelBtn" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="cancelOrder()"> {{"cancelOrder" | translate}}</button>  
</ion-item>
  
  

</ion-content>

