<ion-header>

  <!-- <ion-navbar hideBackButton> -->
      <!-- <ion-buttons *ngIf="langDirection == 'rtl'"  right>
          <button ion-button  (click)="dismiss()">
              <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
             
          </button>
      </ion-buttons>

      <ion-buttons *ngIf="langDirection != 'rtl'"  left>
        <button ion-button  (click)="dismiss()">
            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
        </button>
    </ion-buttons> -->

    <!-- <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"followOrder" | translate}} </ion-title>
    <ion-title *ngIf="langDirection != 'rtl'">{{"followOrder" | translate}} </ion-title> -->
  <!-- </ion-navbar> -->

  <ion-navbar>
    <ion-row>
      <!-- <ion-col col-1 style="text-align:right">
          <button ion-button menuToggle>
              <ion-icon name="more"></ion-icon>
            </button>
      </ion-col> -->
      <ion-col col-9>
          <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;padding-right:5px;">{{"followOrder" | translate}}</ion-title>
          <ion-title *ngIf="langDirection != 'rtl'" style="padding:5px;">{{"followOrder" | translate}}</ion-title>
      </ion-col>
      <ion-col col-3 style="text-align:center">
          <img src="assets/imgs/dlogo.png" style="width:50px;height:30px">
      </ion-col>
    </ion-row>
    
  </ion-navbar>
  

</ion-header>


<ion-content padding>
  <div #map id="map"></div>

  <h5  *ngIf="langDirection == 'rtl'" style="text-align: right;color:grey;">{{"accepted"|translate}} {{doctorName}} </h5>
  <h5 style="color:grey;" *ngIf="langDirection != 'rtl'" >{{"accepted"|translate}} {{doctorName}} </h5>

  <ion-row *ngIf="langDirection == 'rtl'" style="margin:0px;">
    <ion-col style="text-align:right" col-4 col-sm-3 col-md-2>
        <img src="assets/icon/doctor.png" style="width:15px;height:15px;">
        <h6 style="color:rgb(192, 189, 189);display: inline;">{{doctorSpecialization}}</h6>

    </ion-col>
    <ion-col style="text-align:right" col-8 col-sm-9 col-md-10>
        <rating 
        [(ngModel)]="doctorRate" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline"
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" 
        ></rating>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="langDirection != 'rtl'">
      <ion-col style="padding-left: 15px;" col-4 col-sm-3 col-md-2>
        <img src="assets/icon/doctor.png" style="width:15px;height:15px;">
          <h6 style="color:rgb(192, 189, 189);display: inline;">{{doctorSpecialization}}</h6>
  
      </ion-col>
      <ion-col col-8 col-sm-9 col-md-10>
          <rating 
          [(ngModel)]="doctorRate" 
          readOnly="true" 
          max="5" 
          emptyStarIconName="star-outline"
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false" 
          ></rating>
      </ion-col>
    </ion-row>
  
 
  <h5 *ngIf="langDirection == 'rtl'" style="color:grey;margin-top:0px;margin-bottom:0px;text-align: right;">{{"cost"|translate}} : {{OrderCost}} {{"pound"|translate}}</h5>
  <h5 *ngIf="langDirection != 'rtl'" style="color:grey;margin-top:0px;margin-bottom:0px;">{{"cost"|translate}} : {{OrderCost}} {{"pound"|translate}}</h5>

  <h5 *ngIf="langDirection == 'rtl'" style="color:grey;text-align: right;">{{"arrivaltime" | translate}} {{duration}} </h5>
  <h5 *ngIf="langDirection != 'rtl'" style="color:grey;">{{"arrivaltime" | translate}} {{duration}} </h5>
  

  <ion-item style="text-align:center;" no-lines>
  <button type="button" [disabled]="disableCancelBtn" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="cancelOrder()"> {{"cancelOrder" | translate}}</button>  
</ion-item>
  
  

</ion-content>

