<ion-header class="{{langDirection}}">

  <ion-navbar hideBackButton>
   
          <ion-title>{{"followOrder" | translate}}</ion-title>
     
          <ion-buttons  right>
              <button ion-button>
                  <img src="assets/imgs/dlogo.png" style="width:30px;" >
                 
              </button>
              <button ion-button  (click)="dismiss()">
                    <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                   
                </button>
          </ion-buttons>
       
  </ion-navbar>


</ion-header>


<ion-content padding>
  <div #map id="map"></div>

  <h5  *ngIf="langDirection == 'rtl'" style="text-align: right;color:grey;">{{"accepted"|translate}} {{doctorName}} </h5>
  <h5 style="color:grey;" *ngIf="langDirection != 'rtl'" >{{"accepted"|translate}} {{doctorName}} </h5>

  <ion-row *ngIf="langDirection == 'rtl'" style="margin:0px;">
    <ion-col style="text-align:right" col-6 col-sm-4 col-md-3>
        <img src="assets/icon/doctor.png" style="width:15px;height:15px;">
        <h6 style="color:rgb(192, 189, 189);display: inline;">{{doctorSpecialization}}</h6>

    </ion-col>
    <ion-col style="text-align:right" col-6 col-sm-8 col-md-9>
        <rating 
        [(ngModel)]="doctorRate" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline"
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" 
        ></rating>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="langDirection != 'rtl'">
      <ion-col style="padding-left: 15px;" col-4 col-sm-3 col-md-2>
        <img src="assets/icon/doctor.png" style="width:15px;height:15px;">
          <h6 style="color:rgb(192, 189, 189);display: inline;font-size:12px;">{{doctorSpecialization}}</h6>
  
      </ion-col>
      <ion-col col-8 col-sm-9 col-md-10>
          <rating 
          [(ngModel)]="doctorRate" 
          readOnly="true" 
          max="5" 
          emptyStarIconName="star-outline"
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false" 
          ></rating>
      </ion-col>
    </ion-row>
    <!-- <a href="https://api.whatsapp.com/send?phone=01009032582">whats</a>
    <a href="https://api.whatsapp.com/send?phone=201009032582">whats 2</a>
    <a href="https://api.whatsapp.com/send?phone=+201009032582">whats +2</a> -->
  
    <ion-fab left bottom>
            <button ion-fab style="background-color:#026938;font-family: 'Cairo Black';">
                <!-- <ion-icon name="arrow-dropleft"></ion-icon> -->
            <!-- اتصل بالطبيب -->
            اتصال
            </button>
            <ion-fab-list side="right">
              <!-- <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
              <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button> -->
              <!-- <button ion-fab>
                  
                    <ion-icon name="logo-whatsapp" style="color:#026938;" >
                            <a href="https://api.whatsapp.com/send?phone=01009032582" ></a>
                    </ion-icon>
                
              </button>
              
              <button ion-fab>
                    <a href="tel:{{phone}}">
                      <ion-icon name="call" style="color:#026938;">  </ion-icon>
                  </a>
                </button> -->
            
                <a button ion-fab  href="https://api.whatsapp.com/send?phone={{phone}}" >
                    <ion-icon   style="color:#026938;" name="logo-whatsapp"></ion-icon></a>
           
                    <a button ion-fab  href="tel:+{{phone}}" >
                        <ion-icon   style="color:#026938;" name="call"></ion-icon></a>
                </ion-fab-list>
          </ion-fab>
          
          
 
  <h5 *ngIf="langDirection == 'rtl'" style="color:#016a38;margin-top:0px;margin-bottom:0px;text-align: right;">{{"cost"|translate}} :  <span style="color:grey;"> {{OrderCost}} {{"pound"|translate}} </span> </h5>
  <h5 *ngIf="langDirection != 'rtl'" style="color:#016a38;margin-top:0px;margin-bottom:0px;">{{"cost"|translate}} : <span style="color:grey;"> {{OrderCost}} {{"pound"|translate}} </span> </h5>


  <h5 *ngIf="langDirection == 'rtl' && costAfterDiscount" style="color:#016a38;margin-top:0px;margin-bottom:0px;text-align: right;">{{"costafterDiscount"|translate}} : <span style="color:grey;"> {{costAfterDiscount}} {{"pound"|translate}} </span> </h5>
  <h5 *ngIf="langDirection != 'rtl' && costAfterDiscount" style="color:#016a38;margin-top:0px;margin-bottom:0px;">{{"costafterDiscount"|translate}} : <span style="color:grey;"> {{costAfterDiscount}} {{"pound"|translate}} </span> </h5>

  <p *ngIf="contDate" style="color:#016a38;text-align:right;font-size:16px;margin: 0px;">  الموعد المحدد :<span style="color:grey;"> {{contDate}}</span></p>
  <p *ngIf="contNotes" style="color:#016a38;text-align:right;font-size:16px;margin: 0px">  الملاحظات :<span style="color:grey;"> {{contNotes}}</span></p>


  <h5 *ngIf="langDirection == 'rtl'" style="color:grey;text-align: right;margin:0px;margin-bottom: 4px;margin-top:2px">{{"arrivaltime" | translate}} {{newduration}} </h5>
  <h5 *ngIf="langDirection != 'rtl'" style="color:grey;margin:0px;margin-bottom: 4px;margin-top:2px">{{"arrivaltime" | translate}} {{newduration}} </h5>
  

  <ion-item style="text-align:center;" no-lines>
  <button type="button" [disabled]="disableCancelBtn" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="cancelOrder()"> {{"cancelOrder" | translate}}</button>  
</ion-item>
  
  

</ion-content>

