page-doctor-profile {
    .center{
        text-align: center;
    }
    #profileImg{
        border:1px rgb(240, 234, 234) solid;
        border-radius: 50%;
        height:100px;
        width: 100px; 
       
    }

    ul {
        padding: 0px;
      
        &.rating li {
          padding: 0px 1px !important;
          background: none;
          color: rgb(8, 129, 8);
          
          ion-icon {
            font-size: 20px;
          }
        }
      }
    .right{
        text-align: right;
    }
    .customIcon{
        height:20px; 
        width:20px;
        
    }
    .label-md{
        margin: 0px;
    }
    .services{
        margin-left: 42px;
    }

}
