<ion-header class="{{langDirection}}">
  <ion-navbar hideBackButton>
    
        <ion-title>مشاهدة التقييم</ion-title>
      
        <ion-buttons  right>
          <button ion-button>
            <img src="assets/imgs/dlogo.png" style="width:30px;" >
          </button>
          <button ion-button  (click)="dismiss()">
              <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">       
          </button>
        </ion-buttons>
    </ion-navbar>
    

</ion-header>


<ion-content padding>

    <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-row [hidden]="showLoading" style="text-align: center;">
          <ion-col col-5></ion-col>
          <ion-col col-2> 
            <ion-spinner name="circles" [hidden]="showLoading" ></ion-spinner>
          </ion-col>
          <ion-col col-5></ion-col>
          </ion-row>

          
      <!-- <ion-item *ngFor="let item of data" >
          <ion-avatar item-start style="margin:0px;">
              <img [src]="item.notificationimage">
            </ion-avatar>

        <h6 style="font-size:12px;">{{item.remark}}</h6> 
        <p>{{item.notificationDate}}</p>
      </ion-item> -->

      <ion-item *ngFor="let item of data" text-wrap>
        <!-- <ion-avatar item-start style="margin:0px;">
          <img [src]="item.notificationimage">
        </ion-avatar> -->
        
        <h2>  {{item.usr.name}}  </h2>
        <p> {{item.notificationDate}} </p>
        <rating 
        [(ngModel)]="item.rate" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline"
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" 
        ></rating>

        <p [hidden]="item.hideReview">{{item.remark}}</p>
        
       
        
      </ion-item>

      <ion-infinite-scroll   (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

      <!-- <ion-note item-end>{{item.notificationDate}}</ion-note> -->
</ion-content>
