<ion-header class="{{langDirection}}">

  <ion-navbar hideBackButton>
  
        <ion-title>{{name}}</ion-title>
    
        <ion-buttons  right>
            <button ion-button>
                <img src="assets/imgs/dlogo.png" style="width:30px;" >
               
            </button>
            <button ion-button  (click)="dismiss()">
                    <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                   
                </button>
        </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>

    <div class="center">
        <img [src]="image" id="profileImg" >  
    </div>
    <p class="center" style="color:gray;font-size: 16px;padding-top:0px;margin-bottom:0px;">{{name}}</p>
    <!-- <p class="center" style="color:gray;font-size: 16px;padding-top:0px;margin-bottom:0px;">{{specialization}}</p> -->
    <div class="center" style="border-bottom: 2px solid #e8f1ed;">
    <rating 
    [(ngModel)]="rate" 
    readOnly="true" 
    max="5" 
    emptyStarIconName="star-outline"
    halfStarIconName="star-half" 
    starIconName="star" 
    nullable="false" 
    ></rating>
  </div>


<div style="color:gray;text-align: right;font-size: 16px;margin-top:10px" >
    <img src="assets/icon/location.png" class="customIcon" > 
    <p style="color:gray;display: inline;"> {{address}} </p>
    </div>

    <div [hidden]="hideServices" style="color:gray;text-align: right;font-size: 16px;margin-top:10px;margin-bottom:10px" >
        <img src="assets/icon/servicegreen.png" class="customIcon" > 
        <p style="color:gray;display: inline;"> {{"ProvidedServices" | translate}} </p>
        </div>


  
  
    <ion-label [hidden]="hideServices" *ngFor="let item of services" class="services" style="color:gray;font-size: 16px;" >
        <p *ngIf="langDirection != 'rtl'">{{item.service_name}} <span >(  <ion-icon name="md-cash" style="color:#016a38"></ion-icon><p style="color:#016a38"> {{item.price}} جنيه<span style="color:#016a38" *ngIf="item.id == '478' ||  item.id == '479' " > للوضع الواحد </span></p>)</span></p>
    </ion-label>
  
    <ion-label [hidden]="hideServices" *ngFor="let item of services" class="services right" style="color:gray;font-size: 16px;" >
        <p  *ngIf="langDirection == 'rtl'" style="margin-right:30px;font-size:14px"> {{item.service_name}}  <span *ngIf="item.price">(  <ion-icon name="md-cash" style="color:#016a38"> </ion-icon>  <p style="color:#016a38;display: inline-block;font-size: 15px;font-weight: bold;"> {{item.price || ""}} جنيه  <span style="color:#016a38" *ngIf="item.id == '478' " > للوضع الواحد </span> <span style="color:#016a38;font-size:8px;" *ngIf="item.id == '479' " > شرايين أو أورده لأحد الأطراف الأربعه </span>  </p> )</span>  </p>
    </ion-label>


      <ion-row >
        <ion-col col-2>
            <!-- <ion-item class="form-group" no-lines>
                <button type="button" (click)="presentActionSheet()" class="btn btn-primary btn-lg btn-block" style="color:rgba(27, 26, 26, 0.270588);background-color: rgba(1, 106, 56, 0.2313725) ; border-color: rgba(1, 106, 56, 0.2313725);" >  <img src="assets/icon/cam.png" height="15" width="15">   {{medicalprescriptionImage}} <ion-icon name="checkmark-circle" style="color: darkgreen;vertical-align: middle;" *ngIf="imageAdded" ></ion-icon> </button> 
                
              </ion-item> -->
        </ion-col>
        <ion-col col-4 *ngFor="let photo of photos; let id = index" style="text-align:right">

            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
            <img [src]="photo" *ngIf="photo" style="width:90px;height:80px" (click)="fullScreen(id)" />
    
        </ion-col>
    
    </ion-row>

    <ion-item class="form-group" no-lines>
        <button type="button" (click)="presentActionSheet()" class="btn btn-primaryx btn-lg btn-block" style="font-family: 'Cairo Black';color:#fff;background-color: #016a38 ; border-color: #016a38;margin:10px auto;" > 
              <!-- <img src="assets/icon/cam.png" height="25" width="25" style="color:#fff">   -->
            <ion-icon name="camera" style="color:#fff;font-size:20px;vertical-align: middle;"></ion-icon>
            {{medicalprescriptionImage}}
        </button>     
    </ion-item>

  <ion-item style="text-align:center;" no-lines>

      <button *ngIf="offline == '1'" disabled type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="sendOrder()"> {{"sendOrder" | translate}}</button>  
      <button *ngIf="offline == '0'" type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="sendOrder()"> {{"sendOrder" | translate}}</button>  
      
    </ion-item>

    <ion-item style="text-align:center;" no-lines>

        <button  type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="viewRates()"> مشاهدة التقييم</button>  
          
      </ion-item>

</ion-content>
