
<ion-header>

  <ion-navbar hideBackButton>
    

    <ion-buttons *ngIf="langDirection == 'rtl'"  right>
        <button ion-button  (click)="dismiss()">
            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
            <!-- <ion-icon name="arrow-back"></ion-icon> 
            -->
        </button>
    </ion-buttons>

    <ion-buttons *ngIf="langDirection != 'rtl'"  left>
      <button ion-button  (click)="dismiss()">
          <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
      </button>
  </ion-buttons>

  <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"aboutApp" | translate}}</ion-title>
  <ion-title *ngIf="langDirection != 'rtl'" >{{"aboutApp" | translate}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="text-center">
    <img src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="max-width:40%;margin-top: 35px;">
  </div>

  <p style="color:grey;font-size:18px;margin:20px;text-align:center">{{aboutdata}}</p>

</ion-content>
