
<ion-header>

  <ion-navbar hideBackButton>
    
    <!-- <ion-buttons *ngIf="langDirection == 'rtl'"  right>
        <button ion-button  (click)="dismiss()">
            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
           
        </button>
    </ion-buttons>

    <ion-buttons *ngIf="langDirection != 'rtl'"  left>
      <button ion-button  (click)="dismiss()">
          <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
      </button>
  </ion-buttons>

  <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{ "setting" | translate}}</ion-title>
  <ion-title *ngIf="langDirection != 'rtl'" >{{ "setting" | translate}}</ion-title> -->

  <ion-row>
    <ion-col col-7>
        <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{ "setting" | translate}}</ion-title>
        <ion-title *ngIf="langDirection != 'rtl'">{{ "setting" | translate}}</ion-title>
    </ion-col>
    <ion-col col-3 >
        <!-- <img src="assets/imgs/dlogo.png" style="width:40px;height:30px" left> -->
        <ion-buttons  left>
                <button ion-button>
                    <img src="assets/imgs/dlogo.png" style="width:40px;" >
                   
                </button>
            </ion-buttons>
    </ion-col>
  

  <ion-col col-2>
    <ion-buttons *ngIf="langDirection == 'rtl'"  left>
      <button ion-button  (click)="dismiss()">
          <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
         
      </button>
  </ion-buttons>

  <ion-buttons *ngIf="langDirection != 'rtl'"  left>
    <button ion-button  (click)="dismiss()">
        <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
    </button>
</ion-buttons>
  </ion-col>
</ion-row>

</ion-navbar>

</ion-header>


<ion-content padding>
    <!-- <ion-item >
        <ion-icon name='globe' item-start></ion-icon>
        {{"language" | translate}}
        <ion-note item-end (click)="changeLanguage()">
        {{language}}
        </ion-note>
      </ion-item> -->

</ion-content>
