page-notification {
    .row{
        margin: 0px;
        padding: 0px;
 
    }
    .item-md.item-block .item-inner{
        padding-right: 0px;
    }
   
}
.toastRight{
    text-align: right;
  }
  .toastLeft{
    text-align: left;
  }
  
