<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="more"></ion-icon>
    </button>
    
    <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"notification" | translate }}</ion-title>
    <ion-title *ngIf="langDirection != 'rtl'">{{"notification" | translate }} </ion-title>

  </ion-navbar>
</ion-header> -->
<!-- <ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-1>
          <button ion-button menuToggle>
              <ion-icon name="more"></ion-icon>
            </button>
      </ion-col>
      <ion-col col-8>
          <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"notification" | translate }}</ion-title>
          <ion-title *ngIf="langDirection != 'rtl'">{{"notification" | translate }}</ion-title>
      </ion-col>
      <ion-col col-3 style="text-align:center">
          <img src="assets/imgs/dlogo.png" style="width:40px;height:30px">
      </ion-col>
    </ion-row>
    
  </ion-navbar>
  
</ion-header> -->

<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-1 style="text-align:right">
          <button ion-button menuToggle>
              <ion-icon name="more"></ion-icon>
            </button>
      </ion-col>
      <ion-col col-8>
          <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;padding-right:5px;">{{"notification" | translate }}</ion-title>
          <ion-title *ngIf="langDirection != 'rtl'" style="padding:5px;">{{"notification" | translate }}</ion-title>
      </ion-col>
      <ion-col col-3 style="text-align:center">
          <!-- <img src="assets/imgs/dlogo.png" style="width:40px;height:30px"> -->
          <ion-buttons style="display: inherit;" left>
              <button ion-button icon-only  menuToggle><img src="assets/imgs/dlogo.png" width="40" style="border: 0px;"></button>
          </ion-buttons>

        </ion-col>
    </ion-row>
    
  </ion-navbar>
  
</ion-header>
<ion-content padding>
    <!-- <ion-card *ngFor="let item of data">

        <ion-card-content>
          <h2>{{item.text}}</h2>
          <p>{{item.txt}}</p>
            <h2>{{item.title}}</h2>
            <p>{{item.time}}</p>
        </ion-card-content>
      
      </ion-card> -->
    

<!-- 
      <ion-item *ngFor="let item of data">
     
          <h2>{{item.title}}</h2>
          <p>{{item.time}}</p>
        </ion-item>

        <ion-list [virtualScroll]="data">

          <ion-item *virtualItem="let item">
            <h2>{{item.title}}</h2>
            <p>{{item.time}}</p>
          </ion-item>
        
        </ion-list> -->
    
        <ion-refresher  (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-row [hidden]="showLoading" style="text-align: center;">
            <ion-col col-5></ion-col>
            <ion-col col-2> 
              <ion-spinner name="circles" [hidden]="showLoading" ></ion-spinner>
            </ion-col>
            <ion-col col-5></ion-col>
            </ion-row>

            
        <ion-item *ngFor="let item of data" (click)="notificationClickd(item)">
          <!-- start -->
            <ion-avatar item-start style="margin:0px;">
                <img [src]="item.notificationimage">
              </ion-avatar>

          <h6 style="font-size:12px;">{{item.data.text}}</h6> <!-- item.data.txt -->
          <p>{{item.notificationDate}}</p>
        </ion-item>

        <ion-infinite-scroll   (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        


</ion-content>
