// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #016a38 !important;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.badge-md{
 background-color: #016a38;   
}
.image {
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
}

.circle-pic{
    width: 102px;
    height: 108px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   text-align: center;
   margin-top: 20px;
}


.customIcon{
    height:20px; 
    width:20px;
    
}
button:focus{
    outline: 0px !important;
}

// ion-app.md [padding] .scroll-content {
//     padding: 5px;
// }


@font-face {
    font-family: "Cairo Black";
    src:url("../assets/cairofont/Cairo-Black.ttf");
}
@font-face {
    font-family: "Cairo-Bold";
    src:url("../assets/cairofont/cairo-bold.ttf");
}
@font-face {
    font-family: "Cairo-Regular";
    src:url("../assets/cairofont/cairo.ttf");
}
@font-face {
    font-family: "Cairo";
    src:url("../assets/cairofont/Cairo-Bold_0.ttf");
}
@font-face {
    font-family: "Cairo-ExtraLight";
    src:url("../assets/cairofont/cairo-extra-light.ttf");
}
@font-face {
    font-family: "Cairo Light";
    src:url("../assets/cairofont/cairo-light.ttf");
}
@font-face {
    font-family: "Cairo SemiBold";
    src:url("../assets/cairofont/Cairo-SemiBold.ttf");
}
ion-app{
    font-family: "Cairo-Regular" !important;

}
// .ion-md-home {
    
//     content: url("../assets/icon/about.png") !important; 
//     width:20px;
//     height:20px;
// }