<ion-header>

  <ion-navbar hideBackButton>
      <!-- <button ion-button menuToggle  >
          <ion-icon name="more" ></ion-icon>
        </button> -->

      <!-- <button ion-button menuToggle  >
          <ion-icon name="more" ></ion-icon>
        </button> -->
        <!-- <ion-buttons left>
          <button (click)="close()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons> -->
        <!-- <ion-buttons *ngIf="langDirection == 'rtl'"  right (click)="dismiss()">
          <button ion-button  (click)="dismiss()">
              <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
              
          </button>
      </ion-buttons>

      <ion-buttons *ngIf="langDirection != 'rtl'"  left (click)="dismiss()">
        <button ion-button  (click)="dismiss()">
            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
        </button>
    </ion-buttons>
      
    <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"searchForDoctor" | translate}}</ion-title>
    <ion-title *ngIf="langDirection != 'rtl'">{{"searchForDoctor" | translate}}</ion-title> -->

    <ion-row>
      <ion-col col-8>
          <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"searchForDoctor" | translate}}</ion-title>
          <ion-title *ngIf="langDirection != 'rtl'">{{"searchForDoctor" | translate}}</ion-title>
      </ion-col>
      <ion-col col-2 >
          <img src="assets/imgs/dlogo.png" style="width:50px;height:30px" left>
      </ion-col>
    
  
    <ion-col col-2>
      <ion-buttons *ngIf="langDirection == 'rtl'"  left>
        <button ion-button  (click)="dismiss()">
            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
           
        </button>
    </ion-buttons>
  
    <ion-buttons *ngIf="langDirection != 'rtl'"  left>
      <button ion-button  (click)="dismiss()">
          <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
      </button>
  </ion-buttons>
    </ion-col>
  </ion-row>
    
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="map-wrapper">

  <div #map id="map" ></div>
  <div id="button-wrapper">

  <ion-item style="text-align:center;" no-lines >
      <!-- style="font-family: 'Cairo Black'" -->
    <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 15px;" (click)="searchBySpecializations()"> {{"searchBySpecializations" | translate}}</button>  
  </ion-item>

  <ion-item  style="text-align:center;" no-lines>
    <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 15px;" (click)="searchBySpecificDoctor()"> {{"searchBySpecificDoctor" | translate}}</button>  
  </ion-item>
  </div>
  </div>
  
 <!-- <button (click)="geoLoc()">getloc</button> -->

</ion-content>
