
<ion-header>

  <ion-navbar hideBackButton>

      <ion-buttons *ngIf="langDirection == 'rtl'"  right>
          <button ion-button  (click)="dismiss()">
              <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
              <!-- <ion-icon name="arrow-back"></ion-icon> 
              -->
          </button>
      </ion-buttons>

      <ion-buttons *ngIf="langDirection != 'rtl'"  left>
        <button ion-button  (click)="dismiss()">
            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
        </button>
    </ion-buttons>

    <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"order Doctor" | translate}}</ion-title>
    <ion-title *ngIf="langDirection != 'rtl'" >{{"order Doctor" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-item no-lines >
    
    <ion-label  class="custom" fixed style="color:black;" >{{ "Specialization" | translate}}</ion-label>
    <ion-select [(ngModel)]="Specialization" interface="popover" style="background-color: #e8f1ed;width:100%;">
      <ion-option value="{{item}}" *ngFor="let item of SpecializationArray">{{item}}</ion-option>

    </ion-select>
  </ion-item> -->
 
  <ion-grid>
  <ion-row style="width:100%;">
      <!-- fixed class="customItem"   -->
    <ion-col col-6 col-sm-3 col-md-2>
        <ion-item no-lines >{{"Specialization"|translate}}</ion-item>
        
      </ion-col>
      <!-- col-3 col-sm-9  -->
      <ion-col  *ngIf="langDirection != 'rtl'" style="background-color: #e8f1ed;height:50px;" col-6 col-sm-9 col-md-10>
        <ion-select  [(ngModel)]="Specialization" interface="popover"  class="selector" >
          <ion-option  value="{{item.value}}" *ngFor="let item of SpecializationArray" class="option"  (ionSelect)='SpecializationChecked()'>{{item.value}}</ion-option>
        </ion-select>   
        <div style="text-align:right">
        <img src="assets/icon/arrow.png" style="margin-top:-70px;width:20px;height:20px;">  
      </div>
      </ion-col>
      <ion-col *ngIf="langDirection == 'rtl'"  style="background-color: #e8f1ed;height:50px;" col-6 col-sm-9 col-md-10 >
        <ion-select  [(ngModel)]="Specialization" style="text-align:right;" interface="popover"  class="selector" > 
          <ion-option  value="{{item.value}}" *ngFor="let item of SpecializationArray" class="option" (ionSelect)='SpecializationChecked()'>{{item.value}}</ion-option>
        </ion-select> 
        <img src="assets/icon/arrow.png" style="margin-top:-70px;width:20px;height:20px;">  
      </ion-col>
      <!-- fixed class="customItem5" -->
      <!-- <ion-col style="background-color: #e8f1ed;" col-1 (click)="colclicked()" >
          <img src="assets/icon/arrow.png" style="margin-top:15px;width:20px;height:20px;">
    
        </ion-col> -->
  </ion-row>
</ion-grid>
  


  <!-- <ion-item *ngFor="let item of DoctorsArray" no-lines>
    <ion-label>{{item.name}} </ion-label>
    <ion-checkbox  [(ngModel)]="item.checked" (click)="doctorChecked(item ,$event)"  class="x">{{item.name}}</ion-checkbox>
  </ion-item>
 -->
 <ion-scroll scrollY="true"  style="height: 385px" >
 <ion-card *ngFor="let item of DoctorsArray" style="height:110px;" (click)="showDoctorProfile(item)" >          
    <ion-row style="width: calc(100% - 5px);margin: 2px;height:110px;" >
        <!-- fixed class="customItem3" -->
      <ion-col  col-3  col-sm-2  style="padding-top:5px;text-align: center;" >
        <img [src]="item.profile_pic" style="border-radius: 50%;width:60px;height:60px" >
      </ion-col>
      
      <ion-col  col-7 col-sm-9>
        <ion-item >
            <!-- overflow-x: hidden; -->
          <h2 style="width:60px;margin-top:0px;">{{item.name}}</h2>
          <img src="assets/icon/doctor.png" style="width:15px;height:15px;">
          <h3 >{{Specialization}}</h3>
          <h4 >{{"cost"|translate}} : {{item.price}} {{"pound"|translate}}</h4>
          <rating 
                [(ngModel)]="item.rate" 
                readOnly="true" 
                max="5" 
                emptyStarIconName="star-outline"
                halfStarIconName="star-half" 
                starIconName="star" 
                nullable="false" 
                ></rating>
        </ion-item>
      </ion-col>
      <!-- fixed class="customItem4" width:30%; padding-left: 25px;padding-top: 15px;-->
      <ion-col col-2 col-sm-1 style="text-align: center;padding-top: 5px;" >
        <ion-checkbox [(ngModel)]="item.checked" (click)="doctorChecked(item ,$event)" ></ion-checkbox>     
      </ion-col>
    </ion-row>
</ion-card>
</ion-scroll>

<ion-row style="width:100%;">
  <!-- fixed class="customItem6"   -->
<ion-col col-6 col-sm-3 col-md-2 >
    <ion-item no-lines>{{"Discount code"| translate}}</ion-item>
  </ion-col>
  
  <ion-col col-6 col-sm-9 col-md-10 *ngIf="langDirection == 'rtl'"  style="text-align:right;padding-top:15px;" >
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="first" >
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="second">
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="third">
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="fourth">
      <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="last" (change)="validate()" >

  </ion-col>
  <ion-col col-6 col-sm-9 col-md-10 *ngIf="langDirection != 'rtl'" style="text-align:left;padding-top:15px;" >
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="first">
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="second">
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="third" >
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="fourth" >
    <input type="text" maxlength="1" style="width:20px;" [(ngModel)]="last" (change)="validate()">

</ion-col>

</ion-row>
<!-- 
      <ion-row style="width:100%;padding-left:15px;">
          <ion-col>{{"cost"|translate}} : {{cost}} {{"pound"|translate}}</ion-col>
          
        </ion-row> -->

<ion-item style="text-align:center;" no-lines>

  <button type="button" class="btn btn-primary btn-lg btn-block" style="font-family: 'Cairo Black';margin:10px auto;" (click)="sendOrder()"> {{"sendOrder" | translate}}</button>  
</ion-item>



</ion-content>

