<ion-header class="{{langDirection}}">
  <ion-navbar hideBackButton>
      
            <ion-title>{{"forgetPass" | translate}}</ion-title>
        
            <ion-buttons  right>
                    <button ion-button>
                        <img src="assets/imgs/dlogo.png" style="width:30px;" >
                       
                    </button>
                    <button ion-button  (click)="dismiss()">
                            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
                           
                        </button>
                </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="text-center">
        <img  id ="imageLogo" src="assets/imgs/dlogo.png" class="rounded mx-auto d-block" style="margin-top: 50px;">
    </div>
    <br>
    <br>
    
        <div class="text-center">
            <small id="passwordHelpBlock " class="form-text text-muted " style="color: #8d8d8d !important;
            font-size: 18px;font-family: 'Cairo SemiBold'">
    {{"forgetPassTxt" | translate}}      
      </small>
            </div>
            <br>
            <form [formGroup]="activationForm" style="background-color: white;width: 100%">
            <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-bottom: 15px;" [class.invalid]="!activationForm.controls.phone.valid && submitAttempt">
          <ion-label style="margin: 0"><img src="assets/icon/mob.png" style="margin: 0 2px;" height="25" width="25"></ion-label>
          <ion-input  class="right" *ngIf="langDirection == 'rtl'" placeholder="ادخل رقم الهاتف"   style="border-radius: 2px;padding: 0px;" formControlName="phone" [(ngModel)]="phone"
          type="tel"  [dir]="langDirection"></ion-input>
          <ion-input *ngIf="langDirection != 'rtl'" placeholder="Enter phone number"    style="border-radius: 2px;padding: 0px;" formControlName="phone" [(ngModel)]="phone"
      type="tel" [dir]="langDirection"></ion-input>
      </ion-item>
      <ion-item *ngIf="!activationForm.controls.phone.valid && submitAttempt" no-lines>
      <!-- <p> {{"enterCode" | translate}} </p> -->
      <p>{{phoneErrMsg}}</p>
      </ion-item>
      <!-- <small *ngIf="langDirection != 'rtl'"  (click)="resendActivationCode()" id="passwordHelpBlock " style="font-family: 'Cairo';font-size:16px" class="form-text text-muted">
     {{"resendCode" | translate}}            
      </small>
      <small  *ngIf="langDirection == 'rtl'" (click)="resendActivationCode()" id="passwordHelpBlock " style="font-family: 'Cairo';font-size:16px;text-align:right" class="form-text text-muted">
          {{"resendCode" | translate}}            
           </small> -->

     
     
      <br>
      <br>
    <div class="form-group">
        <button type="button" (click)="login()" class="btn btn-primary btn-lg btn-block">  {{"ok" | translate}}</button>  
      </div>
    </form>


</ion-content>
