<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="more"></ion-icon>
    </button>
    
    <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"Orders History" | translate}}</ion-title>
    <ion-title *ngIf="langDirection != 'rtl'" >{{"Orders History" | translate}}</ion-title>

  </ion-navbar>
</ion-header> -->
<!-- 
<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-1>
          <button ion-button menuToggle>
              <ion-icon name="more"></ion-icon>
            </button>
      </ion-col>
      <ion-col col-8>
          <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"Orders History" | translate}}</ion-title>
          <ion-title *ngIf="langDirection != 'rtl'">{{"Orders History" | translate}}</ion-title>
      </ion-col>
      <ion-col col-3 style="text-align:center">
          <img src="assets/imgs/dlogo.png" style="width:50px;height:30px">
      </ion-col>
    </ion-row>
    
  </ion-navbar>
  
</ion-header> -->

<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-1 style="text-align:right">
          <button ion-button menuToggle>
              <ion-icon name="more"></ion-icon>
            </button>
      </ion-col>
      <ion-col col-8>
          <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;padding-right:5px;">{{"Orders History" | translate}}</ion-title>
          <ion-title *ngIf="langDirection != 'rtl'" style="padding:5px;">{{"Orders History" | translate}}</ion-title>
      </ion-col>
      <ion-col col-3 style="text-align:center">
          <img src="assets/imgs/dlogo.png" style="width:50px;height:30px">
      </ion-col>
    </ion-row>
    
  </ion-navbar>
  
  
</ion-header>

<ion-content padding >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    

<ion-row style="margin:0px;width:100%;padding-bottom:7px; border-bottom:2px solid rgb(205, 219, 205);">
  <ion-col col-5 col-sm-3 col-md-3 >
      <!-- fixed class="customItem3" -->
    <ion-label style="margin:0px;text-align:right;">{{"From" | translate}}</ion-label>
  </ion-col>
  
  <ion-col col-3 col-sm-4 col-md-4 style="background-color: #e8f1ed;height:35px;">
    <ion-datetime displayFormat="MM/DD/YYYY" style="height:35px;background-color: #e8f1ed;text-align:right"
      [(ngModel)]="from" cancelText="{{cancelTxt}}" doneText="{{doneTxt}}" (ionChange)="dateFromChanged($event)"></ion-datetime> 
      <div *ngIf="langDirection != 'rtl'" style="text-align:right">
      <img src="assets/icon/arrow.png" style="margin-top:-55px;width:15px;height:15px;padding-left:2px">  
    </div>
    <div *ngIf="langDirection == 'rtl'" >
      <img src="assets/icon/arrow.png" style="margin-top:-55px;width:15px;height:15px;padding-left:2px">  
    </div>
    </ion-col>
  <!-- <ion-col style="background-color: #e8f1ed;height:36px;"  col-1>
    <img src="assets/icon/arrow.png" style="margin-top:12px;width:20px;height:20px;">
  </ion-col> -->

  <ion-col col-1 col-sm-1 col-md-1>
      <!-- fixe1 class="customItem3"  -->
    <ion-label style="margin:0px;text-align:right;padding-right:2px">{{"To" | translate}}</ion-label>
  </ion-col>

  <ion-col col-3 col-sm-4 col-md-4 style="background-color: #e8f1ed;height:35px;">    
    <ion-datetime style="background-color: #e8f1ed;height:35px;text-align:right" displayFormat="MM/DD/YYYY"
        [(ngModel)]="to" cancelText="{{cancelTxt}}" doneText="{{doneTxt}}" (ionChange)="dateToChanged($event)" ></ion-datetime>
        
        <div *ngIf="langDirection != 'rtl'" style="text-align:right">
          <img src="assets/icon/arrow.png" style="margin-top:-55px;width:15px;height:15px;padding-left:2px">  
        </div>
        <div *ngIf="langDirection == 'rtl'" >
          <img src="assets/icon/arrow.png" style="margin-top:-55px;width:15px;height:15px;padding-left:2px">  
        </div>
        <!-- <img src="assets/icon/arrow.png" style="margin-top:-55px;width:20px;height:20px;"> -->
  </ion-col>
<!-- 
  <ion-col style="background-color: #e8f1ed;height:36px;"  col-1>
    <img src="assets/icon/arrow.png" style="margin-top:12px;width:20px;height:20px;">
  </ion-col> -->

</ion-row>  


<!-- <ion-icon name="refresh" *ngIf="swipe == '1' " class="ion-refreshing" style="text-align:center"></ion-icon> -->
<!-- <div swipeAll
           
           (swipeleft)="swipeLeft($event)"
           (swiperight)="swipeRight($event)"
           (swipeup)="swipeUp($event)"
           (swipedown)="swipeDown($event)"
      >  -->

      <ion-row [hidden]="showLoading" style="text-align: center;">
          <ion-col col-5></ion-col>
          <ion-col col-2> 
            <ion-spinner name="circles" [hidden]="showLoading" ></ion-spinner>
          </ion-col>
          <ion-col col-5></ion-col>
          </ion-row>
      

          
    <ion-card *ngFor="let item of data" style="height:110px;border-width: 3px;" [style.border-color]="item.color"   (click)="followOrder(item)" >          
      <ion-row style="width: calc(100% - 5px);margin: 2px;height:110px;">
          <!-- fixed class="customItem3" -->
        <ion-col  col-2  col-sm-2  style="margin-top:10px;padding-top:5px;text-align: center;" >
          <img [src]="item.profile_pic" style="border-radius: 50%;width:50px;height:50px" >
          <h3>{{item.orderId}} </h3>
        </ion-col>
        
        <ion-col  col-6 col-sm-8>
          <ion-item style="padding-left:0px">
              <!-- overflow-x: hidden; -->
            <h2 style="width:60px;margin-top:0px;">{{item.name}}</h2>
            <img src="assets/icon/doctor.png" style="width:15px;height:15px;">
            <h3>{{item.specialization}}</h3>
            <!-- <h4>{{"cost"|translate}} : {{item.price}} {{"pound"|translate}}</h4> -->
            <rating 
                  [(ngModel)]="item.rate" 
                  readOnly="true" 
                  max="5" 
                  emptyStarIconName="star-outline"
                  halfStarIconName="star-half" 
                  starIconName="star" 
                  nullable="false" 
                  ></rating>
          </ion-item>
        </ion-col>
        <!-- redo , sync , repeat , fixed class="customItem4" width:30%; padding-left: 25px;padding-top: 15px;-->
        <ion-col col-4 col-sm-2 style="margin-top:10px;" >
         
          <!-- <div style="width:20px;height:20px;border-radius: 50%;" 
          [style.background-color]="item.color">  </div>
        <div style="text-align:right">
          <ion-icon *ngIf="item.reorder == '1'" name="sync" style="color:#016a38;font-size:30px;" (click)="reorder(item)"></ion-icon>
        </div>
        <div style="text-align:right">
          <ion-icon *ngIf="item.rated == '0'" name="star" style="color:#016a38;font-size:28px;" (click)="rateagain(item)"></ion-icon>
        </div> -->
        <button *ngIf="item.rated == '0'" class="btn btn-primary " style="width:90px" (click)="rateagain(item)" >{{"rateOrder" | translate}}</button>
        <button *ngIf="item.reorder == '1'" class="btn btn-primary " style="margin-top:5px;width:90px" (click)="reorder(item)">{{"reorder" | translate}}</button>
        </ion-col>
      </ion-row>
      
  </ion-card>

  
   
  

  <ion-infinite-scroll   (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
<!-- </div> -->
</ion-content>
