<!-- <ion-header>

  <ion-navbar>
    <ion-title>centers</ion-title>
  </ion-navbar>

</ion-header>

<ion-header> -->
<ion-header>
<ion-navbar hideBackButton>
  <ion-row>
    <ion-col col-7>
          <ion-title *ngIf="langDirection == 'rtl'" style="text-align: right;">{{"centers" | translate}}</ion-title>
          <ion-title *ngIf="langDirection != 'rtl'">{{"centers" | translate}}</ion-title>
    </ion-col>
    <ion-col col-3 >
      <ion-buttons  left>
        <button ion-button>
          <img src="assets/imgs/dlogo.png" style="width:40px;" >         
        </button>
      </ion-buttons>
    </ion-col>
    <ion-col col-2>
      <ion-buttons *ngIf="langDirection == 'rtl'"  left>
        <button ion-button  (click)="dismiss()">
            <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
        </button>
    </ion-buttons>
      <ion-buttons *ngIf="langDirection != 'rtl'"  left>
        <button ion-button  (click)="dismiss()">
          <img src="assets/icon/leftarrow.png"  (click)="dismiss()" class="customIcon">
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  </ion-navbar>

</ion-header>



<ion-content padding>

  <ion-row style="width:100%;margin-right:0px;margin-left:0px;">

    <ion-col style="background-color: #e8f1ed" col-11>
      <ion-searchbar [dir]="langDirection" *ngIf="langDirection != 'rtl'" (ionInput)="getItems($event)" placeholder="search for radiology center" style="color: red;width:100%;"> </ion-searchbar>
      <ion-searchbar [dir]="langDirection" *ngIf="langDirection == 'rtl'"  (ionInput)="getItems($event)" placeholder="ابحث عن نوع اشعه" class="right" style="color: red;width:100%;" > </ion-searchbar>
    </ion-col>
    
    <ion-col style="background-color: #e8f1ed" col-1 (click)="searchIcon()">
      <img src="assets/icon/search.png" style="margin-top:15px;width:20px;height:20px;">
    </ion-col>
</ion-row>

<br>

<ion-row [hidden]="showLoading" style="text-align: center;">
  <ion-col col-5></ion-col>
  <ion-col col-2> 
    <ion-spinner name="circles" [hidden]="showLoading" ></ion-spinner>
  </ion-col>
  <ion-col col-5></ion-col>
</ion-row>

<ion-row style="width:100%;margin-right:0px;margin-left:0px;">
<ion-col col-6  *ngFor="let item of specializations1; let i= index" >
<div class="divStyle x" [ngClass]="item.spClass" (click)="chooseSp($event,i,item)">
  <img  [src]="item.image"  *ngIf="item.status =='0'" style="width:60px;height:60px;" class="customPosition" >
  <img  [src]="item.image_selected" *ngIf="item.status =='1'"  style="width:60px;height:60px;" class="customPosition" >
  
  <ion-label  class="labelStyle">{{item.value}}</ion-label>
</div>
</ion-col>
<ion-col col-6  *ngFor="let item2 of specializations2; let j= index">
  <div class= "divStyle x" [ngClass]="item2.spClass" (click)="chooseSp($event,j,item2)">
      <img  [src]="item2.image"  *ngIf="item2.status =='0'" style="width:60px;height:60px;" class="customPosition" >
      <img  [src]="item2.image_selected" *ngIf="item2.status =='1'"  style="width:60px;height:60px;" class="customPosition" >
     
      <ion-label  class="labelStyle">{{item2.value}}</ion-label>
    </div>

</ion-col>
</ion-row>

  <!-- center middle \n top bottom right left -->
  <ion-fab center bottom>
      <button ion-fab style="background-color:#026938;font-family: 'Cairo Black';">
          مساعدة
          </button>

      <ion-fab-list  side="right">
        <a button ion-fab  href="https://api.whatsapp.com/send?phone={{phone}}" >
          <ion-icon   style="color:#026938;" name="logo-whatsapp"></ion-icon></a>
        <a button ion-fab  href="tel:+{{phone}}" >
          <ion-icon   style="color:#026938;" name="call"></ion-icon>
        </a>

      </ion-fab-list>

      
      <ion-fab-list [hidden]="helpers2" side="left">
          <a button ion-fab  href="https://api.whatsapp.com/send?phone={{phone2}}" >
            <ion-icon   style="color:#026938;" name="logo-whatsapp"></ion-icon></a>
   
            <a button ion-fab  href="tel:+{{phone2}}" >
                <ion-icon   style="color:#026938;" name="call"></ion-icon></a>

      </ion-fab-list>
      <ion-fab-list [hidden]="helpers3" side="top">
          <a button ion-fab  href="https://api.whatsapp.com/send?phone={{phone3}}" >
            <ion-icon   style="color:#026938;" name="logo-whatsapp"></ion-icon></a>
   
            <a button ion-fab  href="tel:+{{phone3}}" >
                <ion-icon   style="color:#026938;" name="call"></ion-icon></a>

      </ion-fab-list>
      <!-- <ion-fab-list side="right">
          <a button ion-fab  href="https://api.whatsapp.com/send?phone={{phone}}" >
            <ion-icon   style="color:#026938;" name="logo-whatsapp"></ion-icon></a>
   
            <a button ion-fab  href="tel:+{{phone}}" >
                <ion-icon   style="color:#026938;" name="call"></ion-icon></a>

      </ion-fab-list> -->
    </ion-fab>



</ion-content>
